body {
    background-image: url('../images/2bbbf44ebce55a8046277f90bfceb044.jpeg');
    background-size: contain;
}

.overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(51.22deg, rgba(0, 0, 0, 0.7623) -22.39%, rgba(135, 69, 69, 0.77) 72.27%);
    ;
}

h1 {
    color: #fff;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.login-container,
.resgistration-container {
    background-color: #fff;
    width: 746px;
    border-radius: 16px;
    height: 400px;
    padding: 30px 0px;

}

.resgistration-container {
    height: auto;
}

a {
    color: #A34A4A;
}

input {
    height: 40px;
}

input::placeholder {
    color: #fff !important;


}

button {
    background-color: #A34A4A;
    border: 2px solid #A34A4A;
    border-radius: 8px;
    height: 55px;
    color: #fff;
}

/* ////////////////// */